@media (max-width:768px) {

    .container {
        margin-left: 0px;
        margin-right: 0px;
        margin-inline: auto;
    }

    main {
        flex-direction: column;
    }

    main .image-part {
        order: -1;
        /* margin-top: 50px;*/
        background-image: url(./images/hero-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        min-height: 70vh;
        width: 90%;
        margin-top: 50px;

    }

    .text-part {
        text-align: center;
        align-self: center;

    }

    .icon-wrapper {
        margin-bottom: 50px;
    }


}


@media (min-width:769px) and (max-width:1050px) {
    .container {
        margin-left: 0px;
        margin-right: 0px;
        margin-inline: auto;
    }

    main {
        flex-direction: column;
    }

    main .image-part {
        order: -1;
        /* margin-top: 50px;*/
        background-image: url(./images/hero-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        min-height: 70vh;
        width: 90%;
        margin-top: 50px;

    }

    .text-part {
        max-width: 700px;
        text-align: center;
        align-self: center;


    }

    .icon-wrapper {
        margin-bottom: 50px;
        justify-content: center;

    }

    
main .text-part h1{
    font-size: 5rem;

}

main .text-part .para{
    font-size: 2rem;
}








}